body {
	background: gray; 
	color: white;
	margin: 30px;
	border: 1px solid black;
	padding: 0px 50px 10px 50px;

}

nav {
	text-align: center;	
	margin: 30px; 
}

img {
	border: 1px solid ;
	width: 300px;
	float: right;
	margin: 20px;
}

h1 {
	font-style: italic;
	text-align: center;
}

h2 {

}

a {
	color: green;
}

footer {
	text-align: center;
	clear: both;
}